@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root background for light mode (white) */
:root {
  background-color: #ffffff;
  color: #1a1a1a; /* optional: dark text for white bg */
}

/* Dark mode background (black) */
.dark {
  background-color: #000000;
  color: #f0f0f0; /* optional: light text for black bg */
}

html {
  scroll-behavior: smooth;
}
body {
  @apply font-roboto;
}
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 18px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #8db600;
    border-radius: 100vh;
    border: 3px solid #dcf58d;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6f9900;
  }
}
